body {
  text-align: center;
}

.color {
  border: black solid 1px;
  display: inline-block;
  width: 40px;
  height: 40px;
}

.pixel {
  background-color: white;
  border: black solid 1px;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#color-palette {
  margin: 20px;
  border: black solid 1px;
  padding: 5px;
  margin-left: 35%;
  margin-right: 35%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  line-height: 0px;
}

#pixel-board {
  margin: 20px;
  margin-left: 35%;
  margin-right: 35%;
  border: black solid 1px;
  padding: 20px;
}